<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="../fontawesome-free-6.5.1-web//css/all.min.css">
</head>
<body>
    <nav class=" p-2">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="./home.html" class="logo fs-1 fw-700 text-danger   "><img class=" rounded-circle" src="../R (2).jpeg" alt="image"></a>
            <ul  class="d-flex list-unstyled ms-5 gap-3">
                <li class="fs-5"><a class="text-decoration-none text-white" href="./home.html">home</a></li>
                <li class="fs-5" ><a class="text-decoration-none text-white" href="./about.htm">about</a></li>
            </ul>
        </div>
    </nav>


    <div class="container my-5  text-center">
        <h1 class="text-white border-bottom m-auto mb-3 w-25">Doctor</h1>
        
            <div class="card   m-auto mb-4" >
                <div class="image ">
                    <img src="../WhatsApp Image 2024-02-23 at 19.55.07_c6c1767f.jpg" class="img-fluid  w-100 h-100 "  alt="...">
                </div>
                <div class="card-body ">
                    <h5 class="card-title">Rashad</h5>
                    <p>he is manager of Project</p>
                    <p><i class="fa-solid fa-envelope"></i> <span >ragmd1234@gmail.com</span></p>
                </div>
            </div>
        
        <h1 class="TeamName text-white border-bottom m-auto mb-4 mt-5">Team Front</h1>
        <div class="row gap-2 justify-content-center">
            <div class="card  col-8 col-md-5 col-lg-3  m-auto p-0" >
                <div class="image ">
                    <img src="../WhatsApp Image 2024-02-24 at 11.58.40_74e57f5c.jpg" class="img-fluid w-100 h-100  "  alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mohamed Salah</h5>
                    <p class="card-text fs-5">Skills: <span class="fs-6">HTML CSS Javascript Sass Bootstrap ReactJs NextJs</span></p>
                    <p><i class="fa-solid fa-envelope"></i> <span >m48162698@gmail.com</span></p>
                </div>
            </div>
            <div class="card col-8 col-md-5 col-lg-3 m-auto p-0" >
                <div class="image ">
                    <img src="../WhatsApp Image 2024-02-24 at 11.36.53_8dd44fc1.jpg" class="img-fluid w-100 h-100"  alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mohamed Barakat</h5>
                    <p class="card-text fs-5">Skills: <span class="fs-6">  </span></p>
                    <p><i class="fa-solid fa-envelope"></i> <span class="BREmail">mohamedbarakat22222@gmail.com</span></p>
                </div>
            </div>
            <div class="card col-8 col-md-5 col-lg-3 m-auto p-0" >
                <div class=" image" >
                    <img src="../WhatsApp Image 2024-02-04 at 11.32.00_9845a740.jpg" class="img-fluid h-100 w-100"  alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mohamed Nasser</h5>
                    <p class="card-text fs-5">Skills: <span class="fs-6"> css html JavaScript  </span></p>
                    <br>
                    <p><i class="fa-solid fa-envelope"></i> <span class="BREmail" >muhamednassarr@gmail.com</span></p>
                </div>
            </div>
            
        </div>
        <h1 class="TeamName text-white border-bottom m-auto mb-4 mt-5">Team backend</h1>
        <div class="row gap-2 justify-content-center">
            <div class="card col-8 col-md-5 col-lg-3  m-auto p-0" >
                <div class="image ">
                    <img src="../WhatsApp Image 2024-02-04 at 10.53.39_d36a6ea1.jpg" class="img-fluid w-100 h-100"  alt="...">
                </div>
                <div class="card-body pb-0 pt-2">
                    <h5 class="card-title">Mohamed Alaa</h5>
                    <p class="card-text fs-5">Skills: <span class="fs-6"> css html JavaScript c++ python Flask Django </span></p>
                    <p><i class="fa-solid fa-envelope"></i> <span >mohameda442002@gmail.com</span></p>
                </div>
            </div>
            <div class="card col-8 col-md-5 col-lg-3  m-auto p-0" >
                <div class="image ">
                    <img src="../WhatsApp Image 2024-02-04 at 14.21.49_167c724b.jpg" class="img-fluid w-100 h-100"  alt="...">
                </div>
                <div class="card-body pb-0 pt-2 ">
                    <h5 class="card-title">Mohamed Taha</h5>
                    <p class="card-text fs-5">Skills: <span class="fs-6">  </span></p>
                    <p><i class="fa-solid fa-envelope"></i> <span >mohameda442002@gmail.com</span></p>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <footer class="py-3">
        <div class="container d-flex justify-content-around align-items-center">
            <div class="about p-2 ">
                <div class="text-white ">Doctor: <span class="span">Rashad</span> </div>
                <div class="text-white ">Front End Team: <span class="span">Mohamed Salah || Mohamed Nassar || Mohamed Barakat</span></div>
                <div class="text-white ">Back End Team: <span class="span">Mohamed Alaa || Mohamed taha</span></div>
            </div>
            <div class="conectus text-white fs-6 ">
                <div><i class="fa-solid fa-phone"></i> 01096116672</div>
                <div class="d-flex align-items-center gap-1"><i class="fa-solid fa-envelope "></i> ragmd1234@gmail.com</div>
            </div>
        </div>

    </footer>
</body>
</html>