* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-image: url('https://cutewallpaper.org/21/1920-x-1080-gif/1920x1080-Wallpapercartoon-Wallpapers-Driverlayer-Search-.gif');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
nav{
    border-bottom: 1px  solid #ddd; 
    box-shadow: 1px 1px 18px #ddd;
}
nav .logo img{
    cursor: pointer;
    width: 60px;
    height:60px;
}


table {
    border: 1px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 86%;
    margin: auto;
    background-color: white;
}

td,
th {
    border: 1px solid black !important;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.title{
    width: auto;
    margin: auto;
    color: white;
    padding: 11px;
    font-size: 44px;
}
.par1{
    color: red;
    font-size: 20px;
}
.conta{
    padding: 20px;
    margin: 20px;
}
.atten{
    border-radius: 20px;
    padding: 0px;
    background-color:rgb(211,211,211,0.5);
    margin:0px 10px 10px 10px;
    min-height: 400px;
}
.title_atten{
    border-radius: 20px 20px 0px 0px;
    background-color: #0b4c61;
    color: white;
    padding: 10px;
}
.link{
    text-decoration: none;
    max-width: 300px;
}
.btn{
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    width:80%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.user{
    border-radius: 20px;
    padding: 0px;
    background-color:rgb(211,211,211,0.5);
    margin:0px 10px 10px 10px;
    height: 400px;
}
.title_user{
    border-radius: 20px 20px 0px 0px;
    background-color: #0b4c61;
    color: white;
    padding: 10px;
}
.input{
    font-size: 20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 10px;
    padding: 5px;
}
.btn2{
    width: 232px;
    margin-top: 20px; 
    font-size: 20px;
}
.span{
    font-size: 12px;
    color: #ccc;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,350px));
}

.card{
    /* width: 90%; */
    box-shadow: 0px 5px 20px rgb(0, 23, 172);
    /* height: 80%; */
    width: 300px;
    height: 500px;
    background-color: #0b4b61a2;
}

.card .card-body{
    /* padding-bottom: 0;
    padding-: 0; */
    background-color: #0b4b61a2;
}

.image{
    height: 300px;
}
.BREmail{
    font-size: 12px;
}
.TeamName{
    width: 250px;
    font-size: 32px;
}
footer{
    border-top: 1px  solid #ddd; 
    box-shadow: 1px 1px 18px #ddd;

}
